@keyframes piscar {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

body {
    background-image: url('https://files.catbox.moe/opuv18.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* MENU */
nav ul {
    text-align: center;
}

#shortcut {
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
    top: 0;
    left: 0;
}

.sc-page {
    width: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: var(--general-text);
    text-shadow: 1px 1px 0px #000;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    text-decoration: none;
    cursor: default;
    text-align: center;
}

.sc-icon {
    width: 30px;
    height: 30px;
    opacity: 1;
}

/* NOTEPAD */
main {
    overflow: hidden;
}

.notepad {
    box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px;
    background-color: #0831d9;
    height: 350px;
    width: 600px;
    position: relative;
    z-index: 3;
}

.notepad .window__header {
    background: linear-gradient(#0058ee 0%, #3593ff 4%, #288eff 6%, #127dff 8%, #036ffc 10%, #0262ee 14%, #0057e5 20%, #0054e3 24%, #0055eb 56%, #005bf5 66%, #026afe 76%, #0062ef 86%, #0052d6 92%, #0040ab 94%, #003092 100%);
    padding: 3px 5px 3px 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 21px;
    display: flex;
    align-items: center;
    cursor: default;
}

.window__header img {
    width: 15px;
    height: 15px;
    margin-left: 1px;
    margin-right: 3px;
}

.window__title {
    padding-left: 3px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    flex: 1 1 0%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window__controls {
    display: flex;
}

.notepad .minimize,
.notepad .maximize,
.notepad .close {
    width: 21px;
    height: 21px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: none;
    background-color: #0050ee;
    transition: background-image .1s;
    border: none;
    padding: 0;
    display: block;
    box-sizing: border-box;
    filter: none;
}

.minimize {
    background-image: url('https://files.catbox.moe/k9kyeq.svg');
}

.minimize:hover {
    background-image: url('https://files.catbox.moe/fn698o.svg');
}

.minimize:active {
    background-image: url('https://files.catbox.moe/fn698o.svg');
}

.maximize {
    background-image: url('https://files.catbox.moe/e6786z.svg');
}

.maximize:hover {
    background-image: url('https://files.catbox.moe/xn3z8w.svg');
}

.maximize:active {
    background-image: url('https://files.catbox.moe/lrex3s.svg');
}

.close {
    background-image: url('https://files.catbox.moe/rl47d7.svg');
}

.close:hover {
    background-image: url('https://files.catbox.moe/e8wrjn.svg');
}

.close:active {
    background-image: url('https://files.catbox.moe/7ozyfn.svg');
}

.window__body {
    margin: 0px 3px 3px;
}

.body__toolbar {
    display: flex;
    height: 20px;
    line-height: 20px;
    background-color: #ede8cd;
    border-bottom: 1px solid #fff;
}

.toolbar__tool {
    font-size: 11px;
    font-family: var(--general-text);
    text-decoration: none;
    padding: 0 6px;
    cursor: default;
}

.toolbar__tool:hover {
    background-color: #1660e8;
    color: #fff;
}

.body__toolbar a {
    text-decoration: underline;
    cursor: pointer;
}

.body__toolbar a:hover {
    color: goldenrod;
    background-color: #003b6f;
}

.notepad__text {
    margin: 0;
    color: #000;
    font-size: 13px;
    font-family: "Lucida Console", monospace;
    line-height: 14px;
    border: 1px solid #96abff;
    background-color: #fff;
    padding: 4px 3px;
    overflow: scroll;
    resize: none;
    appearance: none;
    white-space: normal;
    height: 257px;
}

.texto-piscando {
    animation: piscar 0.8s infinite;
    color: red;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

h1 {
    margin-bottom: 15px;
    text-shadow: none;
    text-decoration: underline;
    color: red;
    font-size: 32px;
}

h3 {
    text-shadow: none;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 0.9;
}

.small-line {
    font-size: 14px;
    font-weight: 100;
}

audio {
    width: 570px;
}

/* FOOTER */
footer {
    background: linear-gradient(#1f2f86 0px, #3165c4 3%, #3682e5 6%, #4490e6 10%, #3883e5 12%, #2b71e0 15%, #2663da 18%, #235bd6 20%, #2258d5 23%, #2157d6 38%, #245ddb 54%, #2562df 86%, #245fdc 89%, #2158d4 92%, #1d4ec0 95%, #1941a5 98%);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 0;
    cursor: default;
}

#stmenu-left {
    height: 100%;
    flex: 1 1 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#startmenu-icon {
    height: 100%;
    margin-right: 10px;
}

#startmenu-icon:hover {
    filter: brightness(105%);
}

#stmenu-right {
    background: linear-gradient(#0c59b9 1%, #139ee9 6%, #18b5f2 10%, #139beb 14%, #1290e8 19%, #0d8dea 63%, #0d9ff1 81%, #0f9eed 88%, #119be9 91%, #1392e2 94%, #137ed7 97%, #095bc9 100%);
    border-left: 1px solid rgb(16, 66, 175);
    box-shadow: inset 1px 0px 1px #18bbff;
    padding: 0px 10px;
    margin-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.menuright-icon,
.footer__icon {
    height: 15px;
    width: 15px;
}

#menuright-time {
    color: #fff;
    font-size: 12px;
    margin: 0 5px;
}

/* JANELINHA */
.footer__window {
    max-width: 150px;
    height: 22px;
    flex: 1 1 0%;
    margin-top: 2px;
    padding: 0px 8px;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    background-color: #3c81f3;
    box-shadow: #0000004d -1px 0px inset, #ffffff33 1px 1px 1px inset;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.footer__window:hover {
    background-color: #53a3ff;
    box-shadow: #0000004d -1px 0px inset, #ffffff33 1px 1px 1px inset;
}

.footer__icon {
    height: 15px;
    width: 15px;
}

.footer__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}