body {
    gap: 15px;
    background-image: url('https://files.catbox.moe/rrelhz.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.container {
    gap: 25px;
    display: grid;
    grid-template-areas:
        'nav nav nav'
        'mc1 main mc2'
        'mc3 mc3 mc3';
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fafafa;
    background-color: #9da9cc;
    padding: 5px 10px;
    border-radius: 50px;
    text-shadow: 0px 0px 1px #53b6b4;
}

nav a:hover {
    color: #952052;
    background-color: #f1e2e9;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 25px;
}

main {
    grid-area: main;
    width: 900px;
    height: 393px;
    padding: 20px 25px;
    border-radius: 30px;
    background-color: #96205174;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: #9620526e 0px 50px 100px -20px, #9824562e 0px 30px 60px -30px, inset #ffffffad 0px -2px 5px 0px, inset #ef94ba75 0px -2px 9px 7px;
    color: #fff;
}

main::-webkit-scrollbar {
    width: 3px;
}

main::-webkit-scrollbar-button {
    display: none;
}

main::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, transparent 10%, #fff 50%, transparent 90%);
    border-radius: 50px;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}

#music-container1 {
    grid-area: mc1;
}

#music-container2 {
    grid-area: mc2;
}

#music-container1,
#music-container2 {
    width: 210px;
    border-radius: 50px;
    text-align: center;
    background-color: #9620522b;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: #9620526e 0px 50px 100px -20px, #9824562e 0px 30px 60px -30px, inset #ffffffad 0px -2px 5px 0px, inset #ef94ba75 0px -2px 9px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
}

#music-container3 {
    grid-area: mc3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    border-radius: 50px;
    text-align: center;
    background-color: #9620522b;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: #9620526e 0px 50px 100px -20px, #9824562e 0px 30px 60px -30px, inset #ffffffad 0px -2px 5px 0px, inset #ef94ba75 0px -2px 9px 7px;
    padding: 10px;
    height: 50px;
}

#music-container1>a,
#music-container2>a,
#music-container3>a {
    font-weight: 600;
    font-variant: all-petite-caps;
    color: #ffffff;
    text-shadow: 0 0 3px #53b6b4;
}

#music-container1>a:hover,
#music-container2>a:hover,
#music-container3>a:hover {
    color: #79f7e5;
    text-shadow: 0 0 1px #53b6b4;
    text-decoration: none;
}

audio {
    width: 900px;

}
