body {
    background-image: url('https://files.catbox.moe/6uvyby.jpg');
    background-position: center center;
    background-size: cover;
    flex-direction: row;
    justify-content: flex-start;
}

nav {
    width: 300px;
    margin-left: 20px;
}

ul {
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

a {
    color: #d5d5d5;
    text-shadow: 0 0 3px #d5d5d5;
}

main {
    color: #fff;
    padding: 15px 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    box-shadow: #531a1a3d 0px 50px 100px -20px, #531a1a5c 0px 30px 60px -30px, inset #ffffff70 0px -2px 5px 0px, inset #531a1a4a 0px -2px 9px 7px;
    background-color: #531a1a36;
}

main::-webkit-scrollbar {
    width: 3px;
}

main::-webkit-scrollbar-button {
    display: none;
}

main::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, transparent 10%, #fff 50%, transparent 90%);
    border-radius: 50%;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}

h1 {
    font-variant: all-petite-caps;
    text-align: center;
    text-shadow: 0 0 2px #990f16;
    margin-bottom: 10px;
    color: #b70009;
}

#twilight,
#bellaed,
#wolves {
    position: absolute;
}

#twilight {
    /* filter: invert(1); */
    width: 500px;
    top: -1em;
    left: 30em;
    z-index: -1;
}

#bellaed {
    right: -70px;
    z-index: -1;
    width: 700px;
    filter: saturate(0.8);
}

#wolves {
    width: 600px;
    bottom: -13px;
    filter: saturate(0.5);
}

@media screen and (min-width: 1600px) {
    #bellaed {
        width: 900px;
        right: -90px;
    }

    #twilight {
        filter: invert(0);
        width: 600px;
        top: 2em;
        left: 20em;
    }

    #wolves {
        width: 650px;
    }

    main {
        width: 700px;
        height: 350px;
    }
}