@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    gap: 16px;
}

header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 940px;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    text-decoration: none;
}

.links img {
    width: 26px;
    height: 26px;
}

.links span {
    display: none;
    font-size: 13px;
    position: absolute;
    bottom: 40px;
}

.links:hover img {
    transform: translateY(-8px);
}

.links:hover span {
    display: inline-block;
}

.menu-left,
.menu-right {
    width: 300px;
}

main {
    height: auto;
    overflow: visible;
    width: 260px;
}

main p {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-bottom: 20px;
}

.foto-mensagem {
    position: absolute;
    top: -65px;
    z-index: -1;
}

.foto-hover {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: grab;
}

.foto-hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
}

.foto1 {
    opacity: 1;
    z-index: 1;
}

.foto2 {
    opacity: 0;
    z-index: 2;
}

.foto-hover:hover .foto1 {
    opacity: 0;
}

.foto-hover:hover .foto2 {
    opacity: 1;
}

footer {
    text-align: center;
    width: 940px;
}

footer p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

ul {
    justify-content: space-evenly;
}

li {
    width: 200px;
}